.image-bg {
  background-image: url("../../static/media//images/models/b2.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
}

.text-font {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}